/**** CHECKBOXES ****/

input[type="checkbox"] {
    visibility: hidden;
}

.checkbox {
	width: 25px;
	margin: 20px 20px;
	position: relative;
}

/* cria uma caixa para a checkbox */
.checkbox label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eeeeee;
	border:1px solid #ddd;
    border-radius: 5px;
}

/* desenha a marca de checked na checkbox */
.checkbox label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #20b7a7;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* faz o efeito do hover nas checkboxes */
.checkbox label:hover::after {
	opacity: 0.2;
}

/* desenha a marca de checked */
.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}