/************************************************************************/
/* ------ fundo da página ------ */
body {
    /*background-color: #50555d ; /* fiord */
    background-image: url("../img/bg2.jpg") ;
    background-repeat: repeat ;
}

/************************************************************************/
/* ------ div principal: bloco central ------ */
div.main_card_block {
    padding-top: 12px ;
    margin: auto ;
    margin-top: 10%;
    width: 40% ;
    height: 60% ;
    background-color: #ffffff ; /* white */
    border-radius: 6px ;
    
    /*border-top: 1px solid #393e45 ; /* charade */
    /*border-left: 2px solid #30333a ; /* ebony */
    /*border-right: 2px solid #30333a ; /* ebony */ 
    /*border-bottom: 3px solid #30333a ; /* ebony */
    
    box-shadow: 0px 1px 10px 2px #393e45 ; /* charade */
}

/************************************************************************/
/* ------ buraco no div principal: corte em cima ao centro ------ */
div.main_card_block_upper_cut {
    margin: auto ;
    width: 25% ;
    height: 12px;
    background-color: #50555d ; /* fiord */ ;
    border-radius: 6px ;
    border-top: 2px solid #c5c5c8 ; /* ghost */
    
}

/************************************************************************/
/* ------ clips e ring no div principal: nas "fitas" no topo ------ */
/* parte de trás do clip */
div.back_clip {
    margin: auto ;
    margin-top: -97px ;
    width: 17% ;
    height: 90px ;
    background-color: #7b7e82 ; /* TIN */
    border-radius: 6px ;
    border-top: 2px solid #b4b6b9 ; /* loblolly */
    opacity: 0.7; 
}

/* parte da frente do clip */
div.front_clip {
    width: 100% ;
    margin-top: 4px;
    height: 86px ;
    background-color: #868a8f ; /* aluminium */
    border-radius: 6px ;
    border-top: 2px solid #aaadb0 ; /* bombay */
    opacity: 0.9 ;
}

/* ring no centro dos clips */
div.ring_clip {
    margin: auto ;
    margin-top: 30% ;
    width: 30% ;
    height: 25% ;
    border-radius: 50% ;
    border: 3px solid #d7d7d9 ; /* mystic */
    background-color: #50555d ; /* fiord */
}

/************************************************************************/
/* ------ títulos ------ */
div.main_card_title {
    padding: 10px 0 ;
}

h1, h3 {
    text-align: center ;
    font-family: "Sansation_Light" ;
    padding-left: 2% ;
    padding-right: 2% ;
}

/* titulo principal */
h1 {
    font-weight: bolder ;
    color: #36383c ; /* vulcan */
    font-size: 32px;
}

/* ultimo div da página: contém link para a página de registo */
div.main_card_register > h3 {
    font-size: 16px ;
}

/* subtitulo na página principal */
h3 {
    color: #7c818a ; /* regent gray */
    font-size: 20px ;
    font-weight: 100 ;
}

/************************************************************************/
/* ------ a: link para registo ------ */

a#register_link {
    font-family: "Sansation_Light" ;
    text-decoration: none ;
}

/* link */ 
a#register_link:link {
    color: #20b7a7 ; /* light sea green (fundo) */
}

/* link visitado */ 
a#register_link:visited {
    color: #158276 ; /**/
}

/* rato em cima do link */ 
a#register_link:hover {
    color: #f56746 ; /**/
}



/************************************************************************/
/* ------ formulário de login ------ */
div.main_card_loginform {
    padding: 0 15% ;
    padding-bottom: 10px ;
}

form.main_card_form {
	position: relative;
}

/* campos de inputs */
input {
    text-align: center ;
    box-sizing: border-box ;
    border-radius: 5px ;
	height: auto ;
    padding-bottom: 10px ;
    padding-top: 10px ;
    margin-top: 5px ;
	font-size: 16px ;
	width: 100% ;
	border: 1px solid #c3c5c7 ; /* ghost */
    font-family: "Sansation_Light" ;
}

/* botão de submit: "entrar" */
button {
	font-family: "Sansation_Light" ;
	width: 100%;
	padding: 15px;
    margin-top: 20px ;
	font-size: 16px;
	background-color: #20b7a7 ; /* light sea green (fundo) */
	border: 1px solid #20b7a7 ; /* light sea green (borda do botão) */
	border-radius: 5px;
	color: #ffffff ; /* white (letras) */
}