/************************************************************************/
/* ------ div principal ------ */
div.main_register_block {
    margin: 20px auto ;
    padding: 12px ;
    padding-left: 2%;
    width:90% ;
    background-color: #ffffff ; /* white */
    box-shadow: 0px 1px 6px 0px #393e45 ; /* charade */
    border-radius: 6px ;
}

/************************************************************************/
/* ------ ------  */
h1, h3 {
    font-family: "Sansation_Light" ;
    color: #36383c ; /* vulcan */
}

h3 {
    color: #7c818a ; /* regent gray */
    font-weight: 100 ;   
}


/************************************************************************/
/* ------ formulário de login ------ */
div.main_register_form {
    padding-bottom: 10px ;
}

form.register_form {
	position: relative;
}

/* campos de inputs */
input {
    box-sizing: border-box ;
    border-radius: 5px ;
	height: auto ;
    padding-bottom: 10px ;
    padding-top: 10px ;
    margin-top: 5px ;
	font-size: 16px ;
	width: 50% ;
	border: 1px solid #c3c5c7 ; /* ghost */
    font-family: "Sansation_Light" ;
}

/* botão de submit: "entrar" */
button {
    width: 50% ;
	font-family: "Sansation_Light" ;
	padding: 15px;
    margin-top: 20px ;
	font-size: 16px;
	background-color: #20b7a7 ; /* light sea green (fundo) */
	border: 1px solid #20b7a7 ; /* light sea green (borda do botão) */
	border-radius: 5px;
	color: #ffffff ; /* white (letras) */
}